---
layout: default
---

<div id="feature-block">
    <div class="container">
        <h1 class="title">Posts tagged '{{ page.title }}'</h1>
        <br>
    </div>
</div>

<div class="container">
    {% for post in page.posts %}
        {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if currentyear != year %}
            <h1>{{ currentyear }}</h1>
            {% capture year %}{{currentyear}}{% endcapture %}
        {% endif %}
        <p>{{ post.date | date: "%B %-d" }}&nbsp;&nbsp;<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
    {% endfor %}
</div>